/* Global styles */
body {
    font-family: monospace, ;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: rgb(149, 149, 149);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    color: darkblue;
}

/* Main content styles */
.main-content {
    padding: 20px;
    text-align: center;
}

.main-content h1 {
    font-size: 36px;
    color: #333;
}

.banner {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.banner img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.banner .content h1 {
    font-size: 24px;
    color: #333;
}

.banner .content p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}
